/**
 * @name Material Discord
 * @version 3.0.4
 * @description A theme based on Google's Material Design
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);
@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #a10000;
  --darkplus-links: #ff0000;
  --darkplus-home-icon: url(https://i.pinimg.com/736x/32/fd/0d/32fd0de15028caaf6126e7de69445ab0.jpg);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

:root {
	--accent-hue: 224;
	--accent-saturation: 71%;
	--accent-lightness: 61%;
	--accent-text-color: #fff;
	--accent-button-action: #fff; /*	-	*/

	--avatar-radius: 50%; /*	-	*/

	--message-radius: 19px;
	--message-padding-top: 8px;
	--message-padding-side: 12px; /*	-	*/

	--media-radius: 19px; /*	-	*/

	--card-radius: 8px;
	--card-radius-big: 18px; /*	-	*/

	--popout-radius: 8px;
	--popout-radius-big: 18px;
}
